# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
vendor/
.bundle/

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Borradores locales (opcional)
_drafts_local/
docs/
